/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-black: #111111;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-bg {
  background-color: var(--primary-black);
}

.logo {
  padding: 3px 40px;
}

.form-login {
  border-radius: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.form-body {
  padding: 47px 58px 25px;
}

.btn-white-link {
  font-size: 13px;
  font-weight: 600;
  color: #5F5F5F;
}

.btn-white-link:hover {
  color: #5F5F5F;
}

.btn-white {
  font-size: 13px;
  font-weight: 600;
  padding: 7px 15px;
  color: var(--primary-black);
}

.btn-white:hover {
  color: var(--primary-black);
}

.text-title {
  font-size: 48px;
  font-weight: 600;
  color: var(--primary-black);
  letter-spacing: -0.05em;
}

.text-email, .text-password, .input-email, .input-password, .text-remember, .text-no-account, .text-name, .input-name {
  font-size: 13px;
  color: #696969;
}

.input-email, .input-password, .input-name {
  padding: 14px 23px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.5);
}

.text-remember > span {
  color: #1F83F9;
}

.text-forgot {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #1F83F9;
}

.btn-login-block {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  background-color: var(--primary-black);
  border-radius: 10px;
  padding: 14px;
}

.text-no-account {
  font-weight: 500;
  color: var(--primary-black);
}

.text-no-account > a {
  font-weight: 600;
  color: var(--primary-black);
}

.footer-brand, .footer-link > p > a {
  font-size: 16px;
  color: #375679;
}